$tomweb: #FECD04;
$eb: #ec2a28;
$writing: #f3821f;
$photog: #25a4de;
$creatives: #8252a0;
$webtech: #2eb462;

body {
  overflow-x: hidden;
}

.img-block {
  display: block;
}

.navbar-brand {
  margin-top: -10px;
  img {
    max-height: 40px;
  }
}

.navbar-default {
  border-radius: 0px;
  border: none;
  background-color: #111111;
  .navbar-nav > {
    li > a {
      font-size: 12px;
      color: #FFFFFF;
      &:hover {
        color: $tomweb;
      }
    }
    .open > a {
      background-color: #292a26;
      color: $tomweb;
      &:hover, &:focus {
        background-color: #292a26;
        color: $tomweb;
      }
    }
    li > a {
      &:hover, &:focus {
        color: $tomweb;
        background-color: transparent;
      }
    }
  }
}

.dropdown-menu {
  > li > a {
    color: #EBEBEB;
    background: #111111;
    &:hover, &:focus {
      text-decoration: none;
      color: #111111;
      background-color: $tomweb;
    }
  }
  background: #111111;
  border: none;
}

.header {
  &.home {
    background-image: url('../images/home-bg.jpg');
  }
  &.about {
    background-image: url('../images/2.jpg');
    min-height: 350px;
    color: white;
  }
  &.core {
    background-image: url('../images/home-bg.jpg');
    min-height: 350px;
    color: white;
  }
  &.depts{
    background-image: url('../images/about-bg.jpg');
    min-height: 350px;
    color: white;
  }
  min-height: 100vh;
  background: #EBEBEB;
  padding-top: 165px;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 20px;
    margin: 0 17% 0 17%;
  }
  button {
    height: 75px;
    width: 175px;
    margin-top: 10vh;
  }
}

.btn-default {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  border: 2px $tomweb solid;
  color: $tomweb;
  font-size: 20px;
  &:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$tomweb+0,fecd04+100&0.05+0,0.05+100 */
    background: -moz-linear-gradient(top, rgba(254, 205, 4, 0.05) 0%, rgba(254, 205, 4, 0.05) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 205, 4, 0.05)), color-stop(100%, rgba(254, 205, 4, 0.05)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254, 205, 4, 0.05) 0%, rgba(254, 205, 4, 0.05) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254, 205, 4, 0.05) 0%, rgba(254, 205, 4, 0.05) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254, 205, 4, 0.05) 0%, rgba(254, 205, 4, 0.05) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(254, 205, 4, 0.05) 0%, rgba(254, 205, 4, 0.05) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dfecd04', endColorstr='#0dfecd04',GradientType=0 );
    /* IE6-9 */
    border: 2px $tomweb solid;
    color: $tomweb;
    font-size: 20px;
  }
}

.dept-pics {
  padding-top: 10vh;
}

.writing {
  background-color: #F3821F;
  /* background-image: url('../images/home-logo-writomg.jpg');
  background-position: center; */
}

.photog {
  background-color: #25a4de;
}

.staff {
  background-color: #ec2a28;
}

.creatives {
  background-color: #8252a0;
}

.webtech {
  background-color: #2eb462;
}

.text-pad {
  padding: 2%;
}

.black-bg {
  background: #222222;
  color: #EBEBEB;
  span {
    font-size: 14px;
  }
  .content {
    max-width: 50em;
    margin: auto;
    margin-bottom: 4vh;
    h2 {
      color: $tomweb;
    }
  }
  &.core{
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.quotes {
  background: #EBEBEB;
  color: #111111;
}

.about-img-1, .about-img-2, .about-img-3 {
  min-height: 50vh;
  background-position: center;
  background-size: cover;
}

.about-img-1, .about-img-2, .about-img-3 {
  background-image: url('../images/about-1.jpg');
}

.about-footer {
  background-image: url('../images/about-bg.jpg');
  color: $tomweb;
  padding-bottom: 20px;
}

.core-officers{
  >.col-md-4{
    margin-top: 15px;
    margin-bottom: 15px;
    >.img-circle{
      &.eb{
        border: 6px solid $eb;
      }
      &.writing{
        border: 6px solid $writing;
      }
      &.photog{
        border: 6px solid $photog;
      }
      &.creatives{
        border: 6px solid $creatives;
      }
      &.webtech{
        border: 6px solid $webtech;
      }
    }
  }
  .name{
    font-size: 20px;
  }
  .position{
    font-size: 13px;
  }
}

blockquote {
  border-left: 5px solid $tomweb;
}

.footer {
  background: #222222;
  color: #EBEBEB;
  >.row{
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.tw{
  color: $tomweb;
}

.text-align-right{
  text-align: right;
}