body {
  overflow-x: hidden; }

.img-block {
  display: block; }

.navbar-brand {
  margin-top: -10px; }
  .navbar-brand img {
    max-height: 40px; }

.navbar-default {
  border-radius: 0px;
  border: none;
  background-color: #111111; }
  .navbar-default .navbar-nav > li > a {
    font-size: 12px;
    color: #FFFFFF; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #FECD04; }
  .navbar-default .navbar-nav > .open > a {
    background-color: #292a26;
    color: #FECD04; }
    .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      background-color: #292a26;
      color: #FECD04; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FECD04;
    background-color: transparent; }

.dropdown-menu {
  background: #111111;
  border: none; }
  .dropdown-menu > li > a {
    color: #EBEBEB;
    background: #111111; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      text-decoration: none;
      color: #111111;
      background-color: #FECD04; }

.header {
  min-height: 100vh;
  background: #EBEBEB;
  padding-top: 165px;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover; }
  .header.home {
    background-image: url("../images/home-bg.jpg"); }
  .header.about {
    background-image: url("../images/about-bg.jpg");
    min-height: 350px;
    color: white; }
  .header.core {
    background-image: url("../images/about-core.jpg");
    min-height: 350px;
    color: white; }
  .header.depts {
    background-image: url("../images/about-depts.jpg");
    min-height: 350px;
    color: white; }
    .header.depts.exec {
      background-image: url("../images/about-exec.jpg");
      min-height: 350px;
      color: white; }
  .header h1 {
    font-size: 50px; }
  .header p {
    font-size: 20px;
    margin: 0 17% 0 17%; }
  .header button {
    height: 75px;
    width: 175px;
    margin-top: 10vh; }

.btn-default {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  border: 2px #FECD04 solid;
  color: #FECD04;
  font-size: 20px; }
  .btn-default:hover {
    border: 2px #FECD04 solid;
    color: #EBEBEB;
    background-color: #FECD04;
    font-size: 20px; }

.dept-pics {
  padding-top: 10vh; }

.writing {
  background-color: #F3821F;
  /* background-image: url('../images/home-logo-writomg.jpg');
  background-position: center; */ }

.photog {
  background-color: #25a4de; }

.staff {
  background-color: #ec2a28; }

.creatives {
  background-color: #8252a0; }

.webtech {
  background-color: #2eb462; }

.text-pad {
  padding: 2%; }

.black-bg {
  background: #222222;
  color: #EBEBEB; }
  .black-bg span {
    font-size: 14px; }
  .black-bg .content {
    max-width: 50em;
    margin: auto; }
    .black-bg .content h2 {
      color: #FECD04; }
  .black-bg.about {
    padding-bottom: 30px; }
  .black-bg.core {
    padding-top: 30px;
    padding-bottom: 30px; }

.quotes {
  background: #EBEBEB;
  color: #111111; }

.about-img-1, .about-img-2, .about-img-3 {
  min-height: 50vh;
  background-position: center;
  background-size: cover; }

.about-img-1 {
  background-image: url("../images/about-1.jpg"); }

.about-img-2 {
  background-image: url("../images/about-2.jpg"); }

.about-img-3 {
  background-image: url("../images/about-3.jpg"); }

.about-depts {
  min-height: 150px;
  background-position: center;
  background-size: fill; }
  .about-depts.writing {
    background-image: url("../images/about-writing.jpg"); }
  .about-depts.photog {
    background-image: url("../images/about-photog.jpg"); }
  .about-depts.creatives {
    background-image: url("../images/about-creatives.jpg"); }
  .about-depts.wt {
    background-image: url("../images/about-wt.jpg"); }

.about-staff {
  min-height: 350px;
  background-image: url("../images/about-exec.jpg");
  color: white; }

.red-bg {
  background-color: #ec2a28; }

.about-footer {
  background-image: url("../images/join-footer.jpg");
  background-size: cover;
  color: #FECD04;
  padding-bottom: 20px; }

.about-core {
  background-image: url("../images/about-core.jpg"); }

.core-officers > .col-md-4 {
  margin-top: 15px;
  margin-bottom: 15px; }
  .core-officers > .col-md-4 > .img-circle.eb {
    border: 6px solid #ec2a28; }
  .core-officers > .col-md-4 > .img-circle.writing {
    border: 6px solid #f3821f; }
  .core-officers > .col-md-4 > .img-circle.photog {
    border: 6px solid #25a4de; }
  .core-officers > .col-md-4 > .img-circle.creatives {
    border: 6px solid #8252a0; }
  .core-officers > .col-md-4 > .img-circle.webtech {
    border: 6px solid #2eb462; }
.core-officers .name {
  font-size: 20px; }
.core-officers .position {
  font-size: 13px;
  font-style: italic; }
  .core-officers .position a {
    color: #222222; }

.description {
  max-width: 500px; }

.join {
  max-width: 800px; }

.glyphicons a {
  color: #222222; }

blockquote {
  border-left: 5px solid #FECD04; }

.footer {
  background: #222222;
  color: #EBEBEB; }
  .footer > .row {
    padding-top: 5%;
    padding-bottom: 5%; }

.tw {
  color: #FECD04; }

.text-align-right {
  text-align: right; }

.application {
  background-image: url("../images/application.jpg");
  min-height: 350px;
  color: white; }

.app-steps {
  list-style: none;
  text-align: left; }
  .app-steps li {
    font-size: 30px; }

span.count {
  font-size: 30px;
  color: #fecd04; }

.list-container {
  display: inline-block; }

.appProcessDetails {
  padding: 28px 0; }
  .appProcessDetails p {
    font-size: 19px; }

/*# sourceMappingURL=main.css.map */
